spring:
    application:
      name: device-service
    datasource:
      url: jdbc:postgresql://localhost:5432/device_db
      username: 'postgres'
      password: 'postgres'
      driver-class-name: org.postgresql.Driver
    jpa:
      database-platform: org.hibernate.dialect.PostgreSQLDialect
      hibernate:
        ddl-auto: update
      show-sql: false
server:
  port: 8082
